img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #000;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}
