.message-input-div {
  position: relative;
}
.message-input {
  width: 648px;
  height: 50px;
  box-sizing: border-box;
  background: transparent;
  // margin-top: 46px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  padding-right: 145px;
  padding-left: 20px;
}
.message-input:focus {
  border-bottom: 1px solid rgba(39, 68, 84, 0.51);
}
.message-btn {
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 8px;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.389;
  width: 60px;
  height: 24px;
  background: #c2dde4;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}
.message-btn:active {
  background: rgba(166, 174, 174, 0.45);
  color: black;
}
