$mobile: 320px;
$tablet: 700px;
$desktop: 1200px;

$animationSlow: 300ms linear;
$animationQuick: 100ms linear;

$font100:100;
$font200:200;
$font300:300;
$font400:400;
$font500:500;
$font600:600;
$font700:700;
$font800:800;

