.innerContainer {
    margin-top: 4rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.friendAdd {
    input {
font-size: 1em;
    }

    button {
        width: 40px;
        margin-top: 2rem;
    }

    .title {

        text-align: center;
    }

    p {
        margin-top: 1rem;
    }

    input {
        margin-top: 1rem;
    }
}