.footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    height: 2rem;

    ul {
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
        width: 50%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    a {
        color: inherit;
    }
}