@import '../../variables.scss';

.header {
  @media screen and (min-width: $mobile) {
    font-size: 10px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }

  a {
    display: block;
    background: rgb(206, 77, 77);
    cursor: pointer;
  }

  position: fixed;
  text-align: center;
  top: 0;
}

.headerMain {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.headerUser {
  width: 10%;
}

.innerContainer {
  padding: 0.5em 0.5em;
  margin-left: auto;
  margin-right: auto;
}
