body {
  background-color: #c3dee5;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
  position: relative;
}

.menu-btn {
  width: 40px;
  height: 40px;
  border-style: none;
  background: transparent;
  margin-right: 10px;
}

.menu-btn-hide {
  visibility: hidden;
}
