@import '../../variables.scss';

.landing {
    @media screen and (min-width: $mobile) {
        font-size: 14px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 20px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 24px;
    }
    margin-top: 4em;

    p {
        font-weight: 500;
        font-size: 1em;
        line-height: 1.5em;
    }

    // a {
    //     text-align: center;
    //     color: black;
    //     display: inline-block;
    //     background-color: #A2A5EE;
    //     padding: 1em 2em;
    //     box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.25);
    //     border-radius: 0.2em;
    //     transition: $animationSlow;

    //     &:hover {
    //         background-color: #9ae982;
    //         color: #ffffff;
    //     }
    }
    .linkBox{
        margin-top: 4em;
        margin-left: auto;
        margin-right: auto;
       text-align: center;
    }
