.container-main {
  background-color: #424d54;
  color: #ffffff;
}
.main-wrapper {
  background: rgba(77, 103, 112, 0.88);
}
.public-keys {
  background: rgba(113, 138, 138, 0.6);
  border: 1px solid #ffffff;
}
.messages {
  background: rgba(82, 123, 125, 0.6);
  border: 1px solid #ffffff;
}
.public-keys-wrapper {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}
.messages-wrapper {
  background: rgba(7, 20, 28, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.message-item:first-child {
  background: rgba(61, 174, 222, 0.29);
}
.message-item:last-child {
  background: rgba(72, 92, 99, 0.59);
}
.message-input {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(7, 20, 28, 0.38);
}
.message-btn {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
.message-btn:active {
  color: rgba(115, 157, 157, 0.45);
  background: black;
}
